body{padding: 0;margin:0}
header{}
.header-top{background:#29ABE2CC;color:#fff;height:auto;width:100%; padding-top: 1vh; padding-bottom: 1vh;}
.header-top .header-top-item{padding-top:10px;font-family:raleway, sans-serif}
.header-top .header-top-item span{font-size:16px}
.header-top .header-top-item span a{color:#fff;text-decoration:none;}
.header-top .header-top-item span a:hover{color:#FBA301}

.header-top .top-header-social-item{margin-top:8px}
.header-top .top-header-social-item span{width: 30px; height: 30px; text-align: center; background-color: #fff; color: #29ABE2; display: inline-table; padding-top: 7px; border-radius: 50%; margin-right: 10px;}
.header-top .top-header-social-item span.fa{font-size:18px}
.header-top .top-header-social-item span:hover{background-color:#FBA301;color:#fff}
.header-main{height:100px;width:100%;background:#fff;box-shadow:0 5px 5px rgba(0, 0, 0, .05);}
.header-main .logo-part{padding-top:15px}
.header-main .logo-part a{text-decoration:none;font-size:50px;color:#333}
.header-main nav{padding-top:40px}
.header-main nav a{color:#333;text-decoration:none;font-size:13px;margin-left:20px;font-weight:bold;font-family:raleway, sans-serif}
.header-main nav a:hover{color:#0071BC}

.dh-home-slide .dh-carousel-slide{width: 100%; height:450px; display: block; overflow: hidden;}
.dh-home-slide .dh-carousel-slide .dh-carousel-item{background-size: cover; background-repeat: no-repeat; background-position: center center; width: 100%; height:450px}
.dh-home-slide .dh-carousel-slide .dh-carousel-item .dh-carousel-content{width: 100%; height:450px; background: rgba(0,0,0,0.5); padding-top: 190px}
.dh-home-slide .dh-carousel-content .caption-heading{text-align: left; font-size: 30px; color: #fff; line-height: 42px; font-family: raleway, sans-serif; font-weight: 900; margin-left:120px; -webkit-transition: all .3s linear; -moz-transition: all .3s linear; -ms-transition: all .3s linear; -o-transition: all .3s linear; transition: all .3s linear; filter: alpha(opacity=0);}
.dh-work-info{position:absolute;bottom:0;left:0;width:100%;}
.dh-work-item{padding:0;color:#fff;width:33.333%;float:left;min-height:100px;}
.dh-work-item:nth-child(1){background-color:#85DBFF;}
.dh-work-item:nth-child(2){background-color:#29ABE2;}
.dh-work-item:nth-child(3){background-color:#0071BC;}
.dh-work-icon{ float:left; margin-right:20px; width:60px; margin :35px 0 0 30px; }
.dh-work-icon .fa{ font-size: 30px; }
.dh-work-body{ float:left; margin :30px 0 0 0; }
.dh-work-lead{ font-size: 18px; }

.dh-why-chose{ padding:80px 0; clear:both;font-family: raleway, sans-serif; }
.dh-why-chose:after{content:'';display:block;clear:both;}
.dh-why-item{ text-align:center; width:80%; margin:0 auto; }
.dh-page-title{text-align: center; margin-bottom: 80px;}
.dh-page-title .dh-sublead{font-size: 14px; color: #666666; line-height: 20px; font-family: raleway, sans-serif; font-weight: 400; width: 90%; margin: 0 auto;}
.dh-page-title .dh-lead{font-size: 30px; color: #0071BC; line-height: 34px; font-family: raleway, sans-serif; font-weight: 700;}
.dh-why-item .dh-icon{ background-color:#29ABE2; width:80px; height:80px; text-align:center; border-radius:50%; -moz-border-radius: 50%; -webkit-border-radius: 50%; padding-top: 25px; margin:0 auto; }
.dh-why-item .dh-icon img{ width:38px;}
.dh-why-item:hover .dh-icon{ background-color:#FBA301; }
.dh-why-item .dh-icon .fa{ font-size:30px; color:#fff; }
.dh-why-item .dh-ket{ font-size:14px; color:#666; margin-top:40px; }
.dh-why-item .dh-ket h4{ font-size:18px; color:#333; font-weight:700; margin-bottom:30px; }
.dh-title-page{ color: #0071BC; font-size: 18px; font-weight: 700; margin-bottom: 20px; }
.dh-about-img{margin-bottom:20px;}
.dh-about-img img{ margin-left:auto; margin-right:auto; }
.dh-about-wrap{margin-left:20px;}
.dh-founder-box{margin-top:20px;margin-bottom:40px;}
.dh-founder-box .dh-title-page { margin-bottom: 5px; }

.dh-home-service{}
.dh-blog-item{ margin-bottom:40px; }
.dh-blog-item .dh-gambar{ position:relative; z-index: 1; }
.dh-blog-item .dh-icon-news{ width:50px; height:50px; position:absolute; bottom:-25px; right:40px; border:2px solid #fff; text-align:center; background-color:#29ABE2; border-radius: 50%; padding-top: 12px; } 
.dh-blog-item img{width:100%}
.dh-blog-item .dh-icon-news .fa{ font-size: 20px; color:#fff; } 
.dh-blog-item .dh-item-body{ background-color:#fff; border: 1px solid #F0F0F0; position:relative; min-height:180px; display:block; } 
.dh-blog-item .dh-item-body .dh-description{ padding: 42px 35px; width:100%; font-weight: 400; color: #666666; text-align:center; font-size:14px; line-height: 20px; font-family: raleway, sans-serif; height: 250px; overflow:hidden; } 
.dh-blog-item .dh-item-body .dh-lead{ font-size: 18px; color: #29ABE2; line-height: 25px; font-family: raleway, sans-serif; font-weight: 700; } 
.dh-blog-item .dh-item-body > div{ width:50%; text-align:center; float:left; line-height: 20px; color: #29ABE2; font-family: raleway, sans-serif; font-weight: 700; } 
.dh-blog-item .dh-item-body .dh-lead a{text-decoration:none;}
.dh-blog-item .dh-item-body .dh-lead a:hover{color:#fba301}


.dh-home-contact{ background:url(../img/contact-bg.jpg) no-repeat center center; background-size: cover;}
.dh-home-contact .dh-drk{ background:#000000b8; padding:80px 0;}
.dh-home-contact h3{ color: #fff; font-family: inherit; font-size: 37px; font-weight: 900; line-height: initial;}
.dh-home-contact h4{ color: #fff; font-size: 40px; font-family: initial; margin: 20px 0 40px; line-height: initial;}
.dh-home-contact p{ color: #fff; font-family: sans-serif; font-size: 19px; line-height: 27px; border-left: 2px solid #ffffff9e; padding-left: 20px;}
.dh-home-contact .dh-contact-icon{ width:100px; padding-right:20px;}
.dh-home-contact .dh-contact-icon img{ width:100%;}

.dh-stat-facts{ } 
.dh-overlay{ background-color:rgba(0, 113, 188, 0.8); display:block; padding:80px 0; } 
.dh-stat-item{ text-align:center; margin-bottom:40px; } 
.dh-stat-item .dh-icon{ width:80px; height:80px; border-radius:50%; -moz-border-radius: 50%; -webkit-border-radius: 50%; border: 2px solid #fff; margin: 0 auto; padding-top:22px; } 
.dh-stat-item:hover .dh-icon{ background-color:#2264A1; } 
.dh-stat-item .dh-icon img{ width:33px;} 
.dh-stat-item .dh-icon .fa{ font-size: 30px; color:#fff; } 
.dh-stat-item .dh-stat-title{ font-size: 18px; color: #FFFFFF; line-height: 25px; font-family: raleway, sans-serif; font-weight: 700; } 
.dh-stat-item .dh-stat-title .dh-number{ font-size: 27px; color: #FFFFFF; line-height: 70px; font-family: raleway, sans-serif; font-weight: 700; } 
.dh-stat-facts .dh-page-title .dh-lead{ color:#fff;} 
.dh-stat-facts .dh-page-title { text-align: center; margin-bottom: 50px; margin-top: 0px; } 
.dh-stat-facts p { font-weight: normal; font-size: 17px;}

footer{font-family: raleway, sans-serif; } 
.dh-f-desc{ background-color:#252525; color:#fff; padding:50px 0; } 
.dh-fcopy{ background-color: #0071BC; color:#fff; text-align:center; padding:20px 20px; } 
.dh-footer-item{ line-height: 20px; color: #999999; font-weight: 400; margin-bottom: 20px; min-height: 250px; } 
.dh-footer-sosmed{ margin-top: 20px; } 
.dh-footer-sosmed .dh-item{ width:30px; height:30px; text-align:center; background-color:#29ABE2; color:#fff; display: inline-table; padding-top: 6px; border-radius: 50%; } 
.dh-footer-sosmed .dh-item:hover{ background-color:#FBA301; } 
.dh-footer-sosmed .dh-item .fa{ font-size:16px; } 
.dh-footer-logo{ margin-bottom: 10px; } 
.dh-footer-title{ font-size: 18px; line-height: 22px; color: #FFFFFF; font-family: raleway, sans-serif; font-weight: 400; position:relative; padding: 10px 0; margin-bottom: 40px; } 
.dh-footer-title h4{font-size:18px}
.dh-footer-item p{font-size:14px}
.dh-footer-title:after{ position:absolute; content:''; width:50px; height:10px; border-bottom:1px solid #fff; } 
.dh-footer-blog-item{ padding-left:30px; margin-bottom: 15px; } 
.dh-footer-blog-item:before{ font-family: FontAwesome; content: "\f105"; color:#29ABE2; float:left; padding-left:-20px; margin-left: -26px; font-size: 16px; } 
.dh-footer-blog-item .dh-footer-blog-lead{ line-height: 20px; color: #999999; font-weight: 400; } 
.dh-footer-blog-item .dh-footer-blog-lead a{ color: #999999; } 
.dh-footer-blog-item .dh-footer-blog-lead a:hover{ color: #FBA301; } 
.dh-footer-blog-item .dh-footer-blog-date{ font-size: 12px; line-height: 17px; color: #29ABE2; font-family: raleway, sans-serif; font-weight: 400; margin-top: 5px; } 
.dh-footer-form{ } 
.dh-footer-form .dh-form-control{ border-radius:0; -moz-border-radius: 0; -webkit-border-radius: 0; } 
.dh-footer-getintouch{ } 
.dh-footer-getintouch-item{ clear:both; margin-bottom:10px; content:''; } 
.dh-footer-getintouch-item .dh-icon{ font-size: 18px; color:#29ABE2; float:left; margin-right:10px; text-align:center; width:20px; } 
.dh-footer-getintouch-item .dh-icon .fa{ font-size: 16px; } 
.dh-footer-getintouch-item .dh-desc{ float:left; margin-bottom: 10px; } 
.dh-footer-getintouch-item .dh-desc .dh-desc-1{ width:60px; float:left; } 
.dh-footer-getintouch-item .dh-dh-desc .dh-desc-2{ width:10px; float:left; } 
.dh-footer-getintouch-item .dh-desc .dh-desc-3{ float:left; } 
.dh-f-map{ width:100%; height:170px;} 
.dh-f-map iframe{ width:100%; height:100%;}






.dh-subbanner{background-color: #29ABE2; height:150px;font-family: raleway, sans-serif; } 
.dh-subbanner .dh-caption{ margin-top: 50px; float: right; color:#fff; text-align:right; } 
.dh-subbanner .dh-caption a{ color:#fff; text-decoration:none; } 
.dh-subbanner .dh-caption h3{ font-size: 30px; color: #fff; line-height: 42px; font-weight: 900; text-transform:uppercase; margin-bottom: 0; } 

.dh-service-page{padding-bottom:60px }
.dh-about-content{padding:60px 0px;font-family: raleway, sans-serif;}
.dh-about-wrap{margin-left:20px;}
.dh-about-wrap p{color:#666;font-size:14px}
.dh-about-wrap ul li{font-size:14px;color:#666}

.dh-single-service-description{padding:60px 0px 80px 0px;font-family: raleway, sans-serif;}
.dh-single-service-description ul li{margin-right:10px;margin-bottom:50px}
.dh-single-service-description ul .active{background-color:#FBA301;text-transform:uppercase;font-weight:bold;;color:#ffffff;}
.dh-single-service-description ul li a{padding:15px 25px;background-color:#ffffff;text-decoration:none;color:#0071BC;text-transform:uppercase;font-weight:bold; }
.dh-single-all-tab{}
.dh-single-all-tab table{width:100%;border:1px solid #AEAEAE;padding:20px}
.dh-single-all-tab table tr th{border:1px solid #AEAEAE;width:25%;text-align:center;font-size:22px;color: #333}
.dh-single-all-tab table tr td{border:1px solid #AEAEAE;padding:10px;color:#212529;font-size:14px}
.dh-single-all-tab table tr td input[type=number]{height:35px; width:75px;text-align:center;}
.dh-single-all-tab table tr td input[type=number]::-webkit-inner-spin-button {opacity: 1;}





.pf-all-account-details{background-color:#F6F6F6;padding: 70px 0px 70px 0px}
.pf-login-header{background-color:#338DC9;width:100%;padding:17px 0px 8px 0px;margin-bottom:30px}
.pf-login-header h4{color:#ffffff;padding-left:25px;font-weight:900;font-size:18px;}
.pf-login-header h4 span{border-right:2px solid #ffffff;padding-right:15px;margin-right:15px}
.pf-account-signup{background-color:#ffffff;padding:20px 20px 30px 20px}
.pf-account-signup h4{padding-bottom:20px;border-bottom:2px solid #E5E5E5;font-size:18px;color:#444444;letter-spacing:1px}
.pf-account-signup p{font-size:13px;color:#878787;padding-top:10px}
.pf-account-signup label{width:100%;margin-bottom:20px}
.pf-account-signup label h6{font-size:15px;padding: 10px 0px 5px 0px}
.pf-account-signup label input[type=text]{width:100%;height:45px;border:1px solid #E5E5E5}
.pf-account-signup a{text-decoration:none;padding:12px 12px;background-color:#85DBFF;font-s#85DBFFize:14px;color:#ffffff;font-weight:700;text-transform:uppercase;}
.pf-account-signin{background-color:#ffffff;padding:20px 20px 47px 20px}
.pf-account-signin h4{padding-bottom:20px;border-bottom:2px solid #E5E5E5;font-size:18px;color:#444444;margin-bottom:20px}
.pf-account-signin span{width:100%;margin-top:10px}
.pf-account-signin span label{font-size:13px}
.pf-account-signin span input[type=text]{height:42px;border:1px solid #E5E5E5;margin-bottom:15px}
.pf-account-signin p a{text-decoration:none;padding:8px 20px;background-color:#85DBFF;font-size:14px;color:#ffffff;font-weight:700;text-transform:uppercase;margin-left:65px;float:left;}
.pf-account-signin span a {float:right;font-size:12px;color:#A59586;text-decoration:underline;}
.pf-price-details{border: 1px solid #333333;background-color:#ffffff}
.pf-price-details-header{background-color:#338DC9;width:100%;padding:17px 0px 8px 0px;margin-bottom:10px}
.pf-price-details-header h4{color:#ffffff;padding-left:25px;font-weight:900;font-size:18px;}
.pf-price-calc-details{background-color:#ffffff;}
.pf-price-calc-details .border-space{padding:20px 0px 10px 0px;border-bottom:1px solid #E5E5E5}
.pf-price-calc-details h6{float:left;padding:0px 0px 10px 0px;color:#424242;font-weight:bold;}
.pf-price-calc-details span{float:right;padding:0px 0px 10px 0px;color:#424242;font-weight:bold;}
.pf-price-calc-details p{padding:20px 0px 20px 0px;color:#54A94E}



.pf-cart-all-quantity{background-color: #E8E8E8; padding: 70px 0px 70px 0px;}

.proceed-checkout a{text-decoration:none;color:#000}
.proceed-checkout a:hover{color:#0071BC}





    
/** sarasij **/
   
@import url('https://fonts.googleapis.com/css?family=Mukta');
.body{
  font-family: 'Mukta', sans-serif;
    height:100vh;
    min-height:550px;
    background-image: url(https://images.pexels.com/photos/4414/black-and-white-clean-housework-launderette.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    position:relative;
    overflow-y: hidden;
}

.login-reg-panel{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align:center;
    width:70%;
    right:0;left:0;
    margin:auto;
    height:400px;
    background-color: #29ABE2;
}
.white-panel{
    background-color: rgba(255,255, 255, 1);
    height:500px;
    position:absolute;
    top:-50px;
    width:50%;
    right:calc(50% - 50px);
    transition:.3s ease-in-out;
    z-index:0;
    box-shadow: 0 0 15px 9px #00000096;
}
.login-reg-panel input[type="radio"]{
    position:relative;
    display:none;
}
.login-reg-panel{
    color:#B8B8B8;
}
.login-reg-panel #label-login, 
.login-reg-panel #label-register{
    border:1px solid #9E9E9E;
    padding:5px 5px;
    width:150px;
    display:block;
    text-align:center;
    border-radius:10px;
    cursor:pointer;
    font-weight: 600;
    font-size: 18px;
    background:#fff;
    color: #29ABE2;
}
.login-info-box{
    width:30%;
    padding:0 50px;
    top:20%;
    left:0;
    position:absolute;
    text-align:left;
    color:#fff;
}
.register-info-box{
    width:30%;
    padding:0 50px;
    top:20%;
    right:0;
    position:absolute;
    text-align:left;
    color:#fff;
    
}
.right-log{right:50px !important;}

.login-show, 
.register-show{
    z-index: 1;
    display:none;
    opacity:0;
    transition:0.3s ease-in-out;
    color:#242424;
    text-align:left;
    padding:50px;
}
.show-log-panel{
    display:block;
    opacity:0.9;
}
.login-show input[type="text"], .login-show input[type="password"]{
    width: 100%;
    display: block;
    margin:20px 0;
    padding: 15px;
    border: 1px solid #b5b5b5;
    outline: none;
}
.login-show input[type="button"],input[type="submit"] {
    max-width: 150px;
    width: 100%;
    background:  #29ABE2;
    color: #f9f9f9;
    border: none;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 10px;
    float:right;
    cursor:pointer;
}
.login-show a{
    display:inline-block;
    padding:10px 0;
}

.register-show input[type="text"], .register-show input[type="password"], .register-show input[type="email"]{
    width: 100%;
    display: block;
    margin:20px 0;
    padding: 15px;
    border: 1px solid #b5b5b5;
    outline: none;
}
.register-show select{
    width: 100%;
    display: block;
    margin:20px 0;
    padding: 15px;
    border: 1px solid #b5b5b5;
    outline: none;
}
.register-show select option{
    width: 100%;
    display: block;
    margin:20px 0;
    padding: 15px;
    border: 1px solid #b5b5b5;
    outline: none;
}
.register-show input[type="button"],input[type="submit"]  {
    max-width: 150px;
    width: 100%;
    background:  #29ABE2;
    color: #f9f9f9;
    border: none;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 10px;
    float:right;
    cursor:pointer;
}
.credit {
    position:absolute;
    bottom:10px;
    left:10px;
    color: #3B3B25;
    margin: 0;
    padding: 0;
    font-family: Arial,sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    z-index: 99;
}
a{
  text-decoration:none;
  color:#2c7715;
}






.nav_container {
max-width: 1600px;
width: 100%;
margin: 0 auto;
padding: 0 20px;
display: flex;
align-items: center;
justify-content: space-between;
}

.nav {
padding: 20px 0;
background-color: #fff;
}

.nav-logo-link:link, .nav-logo-link:visited {
text-decoration: none;
color: #0071BC;
letter-spacing: 2px;
font-size: 1.5em;
font-weight: 600;
}

.nav-menu {
display: flex;
width: 70%;
justify-content: space-evenly;
}

.nav-menu-link:link, .nav-menu-link:visited {
text-decoration: none;
color: #000;
transition: all .4s ease;
font-size: 0.8em;
font-weight: 600;
padding: 5px;
}

.nav-burger {
display: none;
}

.nav-burger-link {
display: flex;
align-items: center;
justify-content: center;
height: 50px;
width: 50px;
}

.nav-burger-item, .nav-burger-item::after, .nav-burger-item::before {
display: block;
height: 3px;
width: 30px;
background-color: #0071BC;
}

.nav-burger-item {
position: relative;
transition: all .1s ease;
}

.nav-burger-item::after, .nav-burger-item::before {
content: '';
position: absolute;
left: 0;
transition: all .2s ease;
}

.nav-burger-item::after {
top: 7px;
}

.nav-burger-item::before {
top: -7px;
}

.closed .nav-burger-item::after, .closed .nav-burger-item::before {
top: 0;
}
.closed .nav-burger-item {
background-color: transparent;
}
.closed .nav-burger-item::after {
transform: rotate(135deg);
}
.closed .nav-burger-item::before {
transform: rotate(-135deg);
}

.news-btn
{
    background-color: #fff;
}

.dh-work-item-m{
    display: none;
}

.ftex
{
    margin: unset !important;
}

.nav-menu .close-menu
{
    display: none;
}
.big-show{display: none}

@media only screen and (max-width: 835px) {

    .big-show{display: block}
    .nav-menu .close-menu
    {
        display: block;
        position: absolute;
        right: 20px;
        top: 20px;
    }

    .nav-menu .close-menu a
    {
        text-decoration: none;
        font-size: 2em;
        color: #fff;
    }

    .nav-menu {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #29abe2;
    flex-direction: column;
    width: 250px;
    height: 100vh;
    justify-content: space-evenly;
    align-items: center;
    transform: translateX(100%);
    transition: all .5s ease;
    }

    .nav-menu.open {
    transform: translateX(0);
    z-index: 9;
    }

    .nav-burger {
    display: block;
    }

    .nav-menu-link:link, .nav-menu-link:visited {
    color: #fff;
    font-size: 1.2em;
    }

    .carousel-control-prev
    {
        left: 0px !important;
    }

    .carousel-control-next
    {
        right: 0px !important;
    }

    .dh-work-info
    {
        display: none;
    }

    .dh-home-slide .dh-carousel-content .caption-heading
    {
        text-align: center;
        margin-left: 5.5vw;
        margin-right: 5.5vw;
    }


    .dh-work-item-m
    {
        display: block;
        padding: 3vh 0 3vh 0;
        color: #fff;
        min-height: 100px;
        text-align: center;
    }

    .dh-work-icon-m
    {
        width: unset !important;
        float: none !important;
        margin: 0 !important;
    }

    .dh-work-body-m
    {
        float: none !important;
        margin: 0 !important;
    }
    .no-view{
        display: none !important;
    }
    .login-reg-panel{
        width:100%;
        height: 62vh;
    }
    .white-panel{
        right: 50%;
    }
    .register-info-box{
        width:50%;
        padding: 0 20px;
    }
    .right-log{
        right:0px !important;
    }
    .login-info-box{
        padding: 0 12px;
    }
}




