@media only screen and (max-width: 768px) {
	.top-header{display:block;}
	.top-header .top-address{padding: 0 5px 0 17px; font-size:12px; line-height:17px; top:22px;}
	.top-header .top-address .map-icon{font-size:16px; line-height:9px;}
	.top-header .logo{width:100px; margin:38px 0 38px -7px;}
	.top-header .top-telephone{font-size:11px; top:22px}
	.top-header .top-telephone .phone-icon{font-size:16px; line-height:9px;}
	.top-header .top-telephone address{font-size:12px;}
	.left-align .content{padding-left:26%;}
	.right-align .content h2{font-size:25px; line-height:36px;}
	.right-align .content p{line-height:23px}
	.right-align .content .slide-btn a{padding:12px 12px;}
	.left-align .content h2{font-size:25px; line-height:39px;}
	.left-align .content p{line-height:23px}
	.left-align .content .slide-btn a{padding:12px 12px;}

	.google-paylink{height:589px}
	.google-paylink .content{bottom:5%;}

	header .navbar-nav .nav-item.active{width:35%}

	.all-service .carousel-inner{height:1510px;}
	.commercial-type{height:1120px}

	.homecaro-inner{height:calc(100vh - 320px);}

	.home-workstep .work-item:nth-child(2n+1)::after{display:none}
	.home-workstep .work-item::after{display:none;}

	.no-row-margin{margin-right:0; margin-left:0}

	footer .social-icon-footer ul{margin-left:54px;}
}