body{padding: 0;margin: 0;font-family: 'Lato', sans-serif}
	

	/*header*/
.top-header{}
.top-header .top-address{position: relative; font-weight: 400; padding: 0 65px 0 32px; top: 45px; font-size: 18px; line-height: 26px;}
.top-header .top-address .map-icon{position: absolute;display: inline-block;top: 7px;left: 0;font-size:21px;line-height: 27px;color:#5ebb60}
.top-header .logo{margin: 40px 0 38px 0; display: inline-block; position: relative;width:200px;}
.top-header .logo img{width:100%}
.top-header .top-telephone{position: relative; font-weight: 400; padding: 0 0 70px 28px; top: 45px; font-size: 18px; float: right;}
.top-header .top-telephone .phone-icon{position: absolute;display: inline-block;top: 7px;left: 0;font-size:21px;line-height: 27px;color:#5ebb60}
.top-header .top-telephone address{font-size: 29px; font-style: normal; font-weight: 400; font-family: "Rubik", sans-serif; margin: 0; }
.top-user-name{position: absolute;right: 0;top:10px;font-size:12px;}
.top-user-name a{color:#5e5e5e}
header{background-color:#009BD8}
header .navbar{padding:0 !important}
header .navbar-nav li{display: inline-block; position: relative; z-index: 100; text-transform: uppercase;padding:0px 10px}
header .nav-item .nav-link{text-decoration: none; padding: 19px 24px; font-size: 18px; line-height: 22px; display: block; color: #fff; font-weight: 500 !important; transition: all 0.3s linear; -ms-transition: all 0.3s linear; -webkit-transition: all 0.3s linear; -o-transition: all 0.3s linear;}
header .nav-item .nav-link:hover{border-bottom:5px solid #5ebb60}
header .navbar-nav .nav-item.active{border-bottom:5px solid #5ebb60}
header.sticky {position: -webkit-sticky;position: sticky;top: 0;z-index: 9999}
	/*footer*/

footer{background: #0098d6; color: #fff; padding: 37px 0 37px 0;position: relative;}
footer .footer-logo{margin-top: 20px; display: block;width:200px}
footer .footer-logo img{width:100%}
footer .footer-separate{border-bottom:1px solid #1ba5dd;padding:30px 0px;margin-bottom:50px}
footer .prom-footer{font-family: "Rubik", sans-serif; font-size: 27px; line-height: 40px; padding-bottom: 25px;}
footer .prom-footer .text1{color: #cce5ff; text-transform: uppercase; margin-right: 11px;}
footer .prom-footer .text2{font-weight: 500; white-space: nowrap}
footer .social-icon-footer{list-style: none; margin: 0; padding: 0;}
footer .social-icon-footer li{display: inline-block; margin-left: 8px; margin-bottom: 12px}
footer .social-icon-footer li:first-child{margin-left: 0}
footer .social-icon-footer a{display: inline-block; width: 50px; height: 50px; background: #fff; text-align: center; color: #404040; font-size: 18px; line-height: 50px; transition: all 0.3s linear; -ms-transition: all 0.3s linear; -webkit-transition: all 0.3s linear; -o-transition: all 0.3s linear; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; border-radius: 50%;}
footer .social-icon-footer a:hover{background-color:#404040;color:#fff}
footer .footer-last-content{width:100%}
footer .footer-last-content .footer-reserved p{padding-bottom:30px;font-weight:400;line-height:24px;font-size:15px}
footer .footer-last-content .footer-location{position: relative; font-weight: 400; padding: 0 0 0px 32px; font-size: 18px; line-height: 26px;}
footer .footer-last-content .footer-location .map-icon{position: absolute; display: inline-block; top: 7px; left: 0; font-size: 21px; line-height: 27px; color: #fff;}
footer .footer-last-content .box-location .footer-mail{position: relative; font-weight: 400; padding: 0 0 28px 32px; font-size: 18px; line-height: 26px;}
footer .footer-last-content .box-location .footer-mail .icon-mail{position: absolute; display: inline-block; top: 2px; left: 0; font-size: 21px; line-height: 27px; color: #fff;}
footer .footer-last-content .time-table{position: relative; font-weight: 400; padding: 0 0 28px 35px; font-size: 18px; line-height: 26px;}
footer .footer-last-content .time-table .icon-clock{position: absolute; display: inline-block; top: 7px; left: 0; font-size: 21px; line-height: 27px; color: #fff;}
footer .footer-last-content .footer-link{padding-left:90px}
footer .footer-last-content .footer-link ul{list-style: none; margin: 0; padding: 0; }
footer .footer-last-content .footer-link ul li{padding:0 0 3px 0}
footer .footer-last-content .footer-link ul li a{color: #fff; text-decoration: underline; font-weight: 400; transition: all 0.3s linear; -ms-transition: all 0.3s linear; -webkit-transition: all 0.3s linear; -o-transition: all 0.3s linear;}

footer .bubbleContainer{width: 100%; position: absolute; top: 0; left: 0; height: 100%; overflow: hidden; z-index: 1; pointer-events: none;}
div[class^="bubble-"] {
  height: 1px;
  width: 1px;
  position: absolute;
  background: url(https://smartdata.tonytemplates.com/laundry/wp-content/themes/laundry/images/buble.png) no-repeat center center;
  background-size: cover;
  border-radius: 50%;
  transform: translateX(-50%);
  pointer-events: none;
}
.bubble-1 {
  bottom: -28px;
  left: 58%;
  animation: bubble-movement 4s infinite ease-in -2.66s;
}

.bubble-2 {
  bottom: -126px;
  left: 48%;
  animation: bubble-movement 4s infinite ease-in -6.94s;
}

.bubble-3 {
  bottom: -10px;
  left: 30%;
  animation: bubble-movement 4s infinite ease-in -4.1s;
}

.bubble-4 {
  bottom: -58px;
  left: 23%;
  animation: bubble-movement 4s infinite ease-in -2.47s;
}

.bubble-5 {
  bottom: -65px;
  left: 85%;
  animation: bubble-movement 4s infinite ease-in -1.34s;
}

.bubble-6 {
  bottom: -195px;
  left: 91%;
  animation: bubble-movement 4s infinite ease-in -2.86s;
}

.bubble-7 {
  bottom: -105px;
  left: 70%;
  animation: bubble-movement 4s infinite ease-in -0.1s;
}

.bubble-8 {
  bottom: -123px;
  left: 48%;
  animation: bubble-movement 4s infinite ease-in -0.45s;
}

.bubble-9 {
  bottom: -37px;
  left: 19%;
  animation: bubble-movement 4s infinite ease-in -0.98s;
}

.bubble-10 {
  bottom: -190px;
  left: 4%;
  animation: bubble-movement 4s infinite ease-in -2.08s;
}

.bubble-11 {
  bottom: -22px;
  left: 33%;
  animation: bubble-movement 3s infinite ease-in -5.39s;
}

.bubble-12 {
  bottom: -189px;
  left: 32%;
  animation: bubble-movement 3s infinite ease-in -1.3s;
}

.bubble-13 {
  bottom: -90px;
  left: 15%;
  animation: bubble-movement 3s infinite ease-in -4.47s;
}

.bubble-14 {
  bottom: -75px;
  left: 10%;
  animation: bubble-movement 3s infinite ease-in -6.97s;
}

.bubble-15 {
  bottom: -187px;
  left: 8%;
  animation: bubble-movement 3s infinite ease-in -3.33s;
}

.bubble-16 {
  bottom: -62px;
  left: 92%;
  animation: bubble-movement 3s infinite ease-in -0.17s;
}

.bubble-17 {
  bottom: -116px;
  left: 44%;
  animation: bubble-movement 3s infinite ease-in -5.5s;
}

.bubble-18 {
  bottom: -4px;
  left: 39%;
  animation: bubble-movement 3s infinite ease-in -1.56s;
}

.bubble-19 {
  bottom: -141px;
  left: 57%;
  animation: bubble-movement 3s infinite ease-in -1.53s;
}

.bubble-20 {
  bottom: -188px;
  left: 56%;
  animation: bubble-movement 3s infinite ease-in -0.77s;
}

.bubbleContainer {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  overflow: hidden;
  z-index: 1;
  pointer-events: none;
}

@-webkit-keyframes bubble-movement {
  0% {
    transform: translate3d(-50%, 0, 0);
    height: 1px;
    width: 1px;
  }
  100% {
    transform: translate3d(-50%, -280px, 0);
    height: 75px;
    width: 75px;
  }
}

@-moz-keyframes bubble-movement {
  0% {
    transform: translate3d(-50%, 0, 0);
    height: 1px;
    width: 1px;
  }
  100% {
    transform: translate3d(-50%, -280px, 0);
    height: 75px;
    width: 75px;
  }
}

@-o-keyframes bubble-movement {
  0% {
    transform: translate3d(-50%, 0, 0);
    height: 1px;
    width: 1px;
  }
  100% {
    transform: translate3d(-50%, -280px, 0);
    height: 75px;
    width: 75px;
  }
}

@keyframes bubble-movement {
  0% {
    transform: translate3d(-50%, 0, 0);
    height: 1px;
    width: 1px;
  }
  100% {
    transform: translate3d(-50%, -280px, 0);
    height: 75px;
    width: 75px;
  }
}

.breadcump{background-color:#fff;border-bottom:1px solid #dce9ee;border-top:1px solid #dce9ee;padding:10px 0px}
.breadcump span{margin-left:5px;font-size:12px;color:#b6bdc0;margin-right:10px;font-weight:500;text-transform:uppercase;}
.service-all-tabs{margin-top:20px;margin-bottom:20px;border:none;}
.service-all-tabs .service-single-tab{padding:12px 20px;background-color:#fff;border:1px solid #5ebb60;margin-right:10px;font-weight: bold;}
.service-all-tabs .active{background-color: #5ebb60;color:#fff;font-weight:bold;}



	/*home*/
.homecaro-inner{height:calc(100vh - 65px);width:100%}
.home-caroitem{width:100%;height:100%;}
.left-align{width:50%;height:600px;float:left;background-size:cover;background-repeat: no-repeat;overflow:none;position: relative;}
.right-align{width:50%;height:600px;float:left;background-size:cover;background-repeat: no-repeat;overflow:none;position: relative;}
.left-align:after{content: "";background-color:rgba(0,0,0,0.3);height:100%;width:100%;position: absolute;left:0;top:0}
.right-align:after{content: "";background-color:rgba(0,0,0,0.3);height:100%;width:100%;position: absolute;left:0;top:0}
.left-align .content{padding-left:50%;padding-top:35%;position: absolute;z-index: 1}
.left-align .content h2{color:#fff;font-size:38px;text-transform:capitalize;font-family:"Roboto Slab";line-height:42px}
.left-align .content p{font-size:15px;font-weight:400;color:#fff;line-height:12px}
.right-align .content{padding-top:35%;padding-left:15%;position: absolute;z-index: 1}
.right-align .content h2{color:#fff;font-size:38px;text-transform:capitalize;font-family:"Roboto Slab";line-height:42px}
.right-align .content p{font-size:15px;font-weight:400;color:#fff;line-height:12px}
.left-align .content .slide-btn{margin-top:40px}
.right-align .content .slide-btn{margin-top:40px}
.left-align .content .slide-btn a{background-color:rgba(94, 187, 96, 0.9);font-size:12px;padding:15px 22px;border-radius:3px;color:#fff;font-weight:600}
.right-align .content .slide-btn a{background-color:rgba(0, 156, 220, 0.9);font-size:12px;padding:15px 22px;border-radius:3px;color:#fff;font-weight:600}
.

.home-passionate{padding-top: 100px;padding-bottom:60px}
.home-passionate h2{padding:65px 0 77px 0;text-transform:uppercase;text-align: center;font-size:38px;font-weight: normal;color:#454545;text-transform: uppercase;}
.home-passionate h2:after{content: ''; width: 75px; height: 3px; background: #5ebb60; display: block; position: absolute; left: 50%; margin-left: -37px; margin-top: 40px;}
.home-passionate p{text-align: center;font-size:18px;line-height:24px}

.home-workstep{background-color:#f5f5f5;padding:70px 0px;}
.home-workstep h2{margin-bottom: 41px; padding: 0 15px; text-align: center;color: #454545;font-size:38px}
.home-workstep .content{position:relative;padding-bottom:60px}
.home-workstep .content .work-icon{text-align:center;}
.home-workstep .content .work-icon img { height: auto; transition: all 0.3s linear; -ms-transition: all 0.3s linear; -webkit-transition: all 0.3s linear; -o-transition: all 0.3s linear; -webkit-transition: -webkit-transform 0.5s; -moz-transition: -moz-transform 0.5s; -ms-transition: -moz-transform 0.5s; -o-transition: -o-transform 0.5s; transition: transform 0.5s; }
.home-workstep .content .description { text-align: center; transition: all 0.3s linear; -ms-transition: all 0.3s linear; -webkit-transition: all 0.3s linear; -o-transition: all 0.3s linear; margin-top: 23px; margin-bottom: 0; color:#454545; font-size:18px; line-height:22px }
.home-workstep .content .title { text-align: center; -moz-transition: all 0.3s ease; -o-transition: all 0.3s ease; -webkit-transition: all 0.3s ease; transition: all 0.3s ease; margin-top: 9px; color:#454545}
.home-workstep .title span{color:#009cdc}
.home-workstep .content:hover .work-icon img { -moz-transform: rotateY(180deg); -o-transform: rotateY(180deg); -ms-transform: rotateY(180deg); -webkit-transform: rotateY(180deg); transform: rotateY(180deg); }
.home-workstep .content:hover .title { margin-top: 19px; margin-bottom: -10px; }
.home-workstep .content:hover .description {color:#009cdc;}

.home-workstep .content:last-child {margin-right: 0;}
.home-workstep .work-item::after { background: rgba(0, 0, 0, 0) url("https://smartdata.tonytemplates.com/laundry/wp-content/themes/laundry/images/step-arrow2.png") no-repeat scroll 0 0 / cover ; content: ""; height: 100px; position: absolute; right: -24%; top: 0; width: 120px; }
.home-workstep .work-item:nth-child(3)::after { right: -24%; }


.home-workstep .work-item:nth-child(4)::after {right: -60%;}
.home-workstep .work-item:nth-child(2n+1)::after {background: rgba(0, 0, 0, 0) url("https://smartdata.tonytemplates.com/laundry/wp-content/themes/laundry/images/step-arrow1.png") no-repeat scroll 0 0;
	background-size: cover;}
.home-workstep .work-item:last-child:after{display: none;}

.commercial-service{padding-top:100px}
.commercial-service h2{padding:0 0 77px 0;text-transform:uppercase;text-align: center;font-size:38px;font-weight: normal;color:#454545;text-transform:uppercase;}
.commercial-service h2:after{content: ''; width: 75px; height: 3px; background: #5ebb60; display: block; position: absolute; left: 50%; margin-left: -37px; margin-top: 40px;}
.commercial-service .commerce-img{height:230px;width:100%}
.commercial-service .commerce-img img{width:100%;height: auto;}
.commercial-service .commerce-content{width:100%;height:auto;margin-left:20px}
.commercial-service .commerce-content p{font-size:18px;line-height:24px;color:#454545}

.affordable-price .affor-btnspace{text-align:center;padding-top:50px}
.affordable-price .affor-btnspace a{padding:18px 25px;font-size: 16px;background-color:#6ab165;color:#fff;border-radius:5px;border-color:rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.1);transition:all .2s ease-in-out;border:1px solid transparent;}
.affordable-price .affor-btnspace a:hover{background-color:#333333}

.google-paylink{background-image:url(https://smartdata.tonytemplates.com/laundry/wp-content/uploads/2011/05/banner-apps.jpg);background-repeat:no-repeat;background-size:cover;overflow:none;height:600px;width:100%;position: relative;}
.google-paylink .content{position: absolute; bottom: 16%; right: 24.5%;}
.google-paylink .content .text1{font-size: 38px; line-height: 1.05em; text-transform: uppercase;color:#454545}
.google-paylink .content .text2{font-size: 22px; line-height: 1.1em; text-transform: uppercase;color:#454545;text-align: center;}
.google-paylink .content .apps-btn{margin-top:24px;text-align: center;}

.home-pricelist{background-image:url(https://smartdata.tonytemplates.com/laundry/wp-content/uploads/2011/05/parallax-img-03.jpg?id=2875);background-repeat:no-repeat;background-size:cover;overflow: none;height:auto;width:100%;padding:90px 0px}
.home-pricelist .price-block{position: relative; background-color: #fff; margin: 0 10px; padding: 23px 0 36px; text-align: center; color: #454545; -moz-transition: all 0.2s ease; -o-transition: all 0.2s ease; -webkit-transition: all 0.2s ease; transition: all 0.2s ease;}
.home-pricelist .price-block .price-block-title{position: relative; background-color: #bdbdbd; color: #fff; font-size: 32px; line-height: 33px; padding: 20px 15px; margin: 0 -10px; text-transform: uppercase; box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.1)}

.home-pricelist .price-block .price-block-title:before{position: absolute; left: 0; bottom: -12px; content: ''; width: 0; height: 0; border-style: solid; border-width: 0 10px 12px 0; border-color: transparent #a0a0a0 transparent transparent; }
.home-pricelist .price-block .price-block-title:after{position: absolute; right: 0; bottom: -12px; content: ''; width: 0; height: 0; border-style: solid; border-width: 12px 10px 0 0; border-color: #a0a0a0 transparent transparent transparent;}
.price-block-price{font-size: 60px; line-height: 64px; font-family: "Rubik", sans-serif; padding: 25px 15px; font-weight: 500; border-bottom: 1px solid #e5e5e5; color: #686868;}
.price-block-details{font-size: 26px; line-height: 30px; font-family: "Rubik", sans-serif; font-weight: 500; color: #454545; border-bottom: 1px solid #e5e5e5; padding: 15px 15px;}
.price-block-details span{color: #bdbdbd; margin-right: 5px;}
.price-block ul{list-style-type: none; margin: 17px 0 0; padding: 0;}
.price-block p{margin-top:40px}
.price-block .btn{border: none; color: #fff; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; border-radius: 5px; padding: 17px 32px; transition: all 0.3s linear; -ms-transition: all 0.3s linear; -webkit-transition: all 0.3s linear; -o-transition: all 0.3s linear; outline: none !important; font-size: 16px; line-height: 20px; text-transform: uppercase; font-weight: bold;}
.price-block.first-pricing .btn.btn-default{background: #686868; }
.price-block.first-pricing .btn.btn-default:hover{background-color:#000000}
.price-block.second-pricing .btn.btn-default{background:#009cdc; }
.price-block.second-pricing .btn.btn-default:hover{background-color:#000000}
.price-block.third-pricing .btn.btn-default{background:#5ebb60; }
.price-block.third-pricing .btn.btn-default:hover{background-color:#000000}


.price-block.second-pricing .price-block-title{background-color:#009cdc}
.price-block.second-pricing .price-block-price{color:#009cdc }
.price-block.second-pricing .price-block-details span{color: #009cdc;}

.price-block.third-pricing .price-block-title{background-color:#5ebb60}
.price-block.third-pricing .price-block-price{color:#5ebb60 }
.price-block.third-pricing .price-block-details span{color:#5ebb60}
.price-block.third-pricing .price-old{color: #595959; font-size: 40px; padding: 0 15px 0 0; text-decoration: line-through;}
.price-block.third-pricing .sale-label{position: absolute; top: -9px; right: 0; z-index: 1; width: 80px; height: 80px; font-size: 22px; line-height: 78px; font-family: "Rubik", sans-serif; font-weight: 500; text-align: center;background-size: cover;}
.price-block:hover{box-shadow:0 0 10px rgba(0, 0, 0, 0.2)}
.home-pricelist .package-deal{text-align:center;padding-top:40px}
.home-pricelist .package-deal a{color:#454545;font-size:22px;line-height:28px}
.home-pricelist .package-deal a:hover{text-decoration: underline;}
	

	/*Service*/

.our-service{padding-top: 100px}
.our-service h2{padding:0 0 77px 0;text-transform:uppercase;text-align: center;font-size:38px;font-weight: normal;color:#454545;text-transform: uppercase;}
.our-service h2:after{content: ''; width: 75px; height: 3px; background: #5ebb60; display: block; position: absolute; left: 50%; margin-left: -37px; margin-top: 40px;}
.our-service p{text-align: center;font-size:18px;line-height:24px}

.all-service{padding-top:20px}
.all-service .carousel-inner{height:560px}
.service-topic{border:1px solid #e8e8e8;text-align: center;width:100%;padding:0 30px 30px;margin-top:80px;display: block;-webkit-transition:all 0.3s linear;height:400px}
.service-topic .service-img{margin-top: -76px; margin-left: auto; margin-right: auto; position: relative; width: 227px; height: 227px; overflow: hidden; z-index: 1;}
.service-topic .service-img img{height:100%;width:100%;border-radius:50%;position:relative;}
.service-topic .service-img .service-img-bor{ position: absolute;top: 0;background-color: transparent;height: 100%;width: 100%;border-radius: 50%;border:20px solid rgba(255,255,255,0.5);display: none;}
.service-topic .service-img img:after{content: ''; position: absolute; width: 100%; height: 100%; left: 0; top: 0; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; border-radius: 50%; box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1); -moz-transition: all 0.4s ease-in-out; -o-transition: all 0.4s ease-in-out; -webkit-transition: all 0.4s ease-in-out;transition: all 0.4s ease-in-out;}
.service-topic .service-item h4{margin-top: 47px; padding-bottom: 25px; line-height: 25px; text-transform: uppercase; transition: all 0.3s linear; -ms-transition: all 0.3s linear; -webkit-transition: all 0.3s linear; -o-transition: all 0.3s linear; font-size: 22px; margin-bottom: 0px;color:#454545;font-family:'Rubik',sans-serif}
.service-topic .service-item p{color:#454545}
.service-topic:hover {border: 1px solid #5ebb60;}
a, a:active, a:focus, a:hover, a:visited{text-decoration:none;}
.service-topic:hover .service-item h4{color:#5ebb60}
.service-topic:hover .service-img-bor{display: block;}
.all-service .carousel-indicators li{position: relative; display: inline-block; width: 8px; height: 8px; margin: 0 10px; padding: 0; cursor: pointer;background-color:#dedede;border-radius:50%;}
.all-service .carousel-indicators li.active{height:12px;width:12px;background-color:#5ebb60;border-radius:50%}
.all-service .carousel-control-next, .carousel-control-prev{width:10%!important}
.all-service .carousel-control-prev img{width:36px;height:36px;margin-left:30px;}
.all-service .carousel-control-next img{width:36px;height:36px;margin-right:30px}

/*.commercial-service{padding-top:100px}
.commercial-service h2{padding:0 0 77px 0;text-transform:uppercase;text-align: center;font-size:38px;font-weight: normal;color:#454545;text-transform:uppercase;}
.commercial-service h2:after{content: ''; width: 75px; height: 3px; background: #5ebb60; display: block; position: absolute; left: 50%; margin-left: -37px; margin-top: 40px;}
.commercial-service .commerce-img{height:230px;width:100%}
.commercial-service .commerce-img img{width:100%;height: auto;}
.commercial-service .commerce-content{width:100%;height:auto;margin-left:20px}
.commercial-service .commerce-content p{font-size:18px;line-height:24px;color:#454545}*/

.service-client{padding-top:60px}
.service-client h4{text-transform:uppercase;font-size:22px;line-height:28px;color:#454545}
.service-client .content{margin-top:20px;height:auto;width:100%}
.service-client ul{margin:0 0 15px;padding:0 0 15px;list-style:none;}
.service-client ul li{font-size: 18px; line-height: 26px; font-weight: 400; position: relative; padding-left: 28px; margin-bottom: 10px;}
.service-client ul li:after{content: ''; position: absolute; top: 11px; left: 0; display: block; width: 8px; height: 8px; border-radius: 50%; background: #5ebb60;}

.commercial-type{background-image:url(https://smartdata.tonytemplates.com/laundry/wp-content/uploads/2011/05/parallax-img-02.jpg?id=2280);height:560px;width:100%;background-size: cover;background-repeat:no-repeat;overflow:none;}
.commercial-type h2{color:#fff;padding:90px 0 77px 0;font-size:38px;text-transform:uppercase;line-height:40px;text-align: center;}
.commercial-type h2:after{content: ''; width: 75px; height: 3px; background: #fff; display: block; position: absolute; left: 50%; margin-left: -37px; margin-top: 40px;}
.commercial-type .type-sub{text-align: center;font-size:18px;color:#fff;line-height:24px}
.commercial-type .type-content{width:100%;margin-top:30px}
.commercial-type .type-content .content-icon{height:50px;width:50px;display: inline-block;position:absolute;}
.commercial-type .type-content .content-icon img{width: 100%}
.commercial-type .type-content .type-desc{margin-left:75px;}
.commercial-type .type-content .type-desc a{font-size:23px;line-height:25px;color:#fff;}
.commercial-type .type-content .type-desc a:hover{color: #5ebb60;}
.commercial-type .type-content .type-desc p{font-size:16px;color:#fff;line-height:23px;padding-top:17px}
.commercial-type .first-fade{-webkit-animation-delay:2.3s;-moz-animation-delay:2.3s;animation-delay:2.3s}
.commercial-type .last-fade{-webkit-animation-delay:2.3s;-moz-animation-delay:2.3s;animation-delay:2.3s}
.commercial-type .animate{-webkit-animation-duration:1s;animation-duration:1s;animation-fill-mode:both;-webkit-animation-fill-mode:both;}
@keyframes fadeLeft{
	from{
		opacity: 0;
		-webkit-transform:translate3d(-100%,0,0);
		transform: translate3d(-100%,0,0);
	}

	to{
		opacity: 1;
		-webkit-transform:none;
		transform: none;
	}
}
.fadeLeft{-webkit-animation-name:fadeLeft;animation-name: fadeLeft;}


@keyframes fadeRight{
	from{
		opacity: 0;
		-webkit-transform:translate3d(100%,0,0);
		transform: translate3d(100%,0,0);
	}

	to{
		opacity: 1;
		-webkit-transform:none;
		transform: none;
	}
}
.fadeRight{-webkit-animation-name:fadeRight;animation-name: fadeRight;}

.services-premium{background-color:#46d8cc;text-align:center;padding:52px 36px 48px;}
.services-premium .premium-topic{color:#454545;font-size:36px;line-height:42px;font-weight: bold;text-transform:uppercase;}
.services-premium:hover{background-color:#5ebb60}
.services-premium:hover .premium-topic{color:#fff}

.service-feature{padding-top:100px;}
.service-feature h2{padding:0 0 77px 0;text-transform:uppercase;text-align: center;font-size:38px;font-weight: normal;color:#454545;text-transform: uppercase;}
.service-feature h2:after{content: ''; width: 75px; height: 3px; background: #5ebb60; display: block; position: absolute; left: 50%; margin-left: -37px; margin-top: 40px;}
.service-feature .content{width:100%;margin-bottom:50px}
.service-feature .content h4{padding-bottom: 18px; font-family: "Rubik", sans-serif; margin-bottom: 0px;}
.service-feature .content h4 a{color:#454545;font-weight: 400;}
.service-feature .content h4 a:hover{color: #5ebb60;}
.service-feature .content p{color:#454545;line-height:23px;font-size:16px}

.service-coupon{padding:80px 0px}
.service-coupon h2{padding:0 0 77px 0;text-transform:uppercase;text-align: center;font-size:38px;font-weight: normal;color:#454545;text-transform: uppercase;}
.service-coupon h2:after{content: ''; width: 75px; height: 3px; background: #5ebb60; display: block; position: absolute; left: 50%; margin-left: -37px; margin-top: 40px;}
.service-coupon .content{width: 371px; height: 286px; margin-left: auto; margin-right: auto;margin-top:10px}
.service-coupon .content .inside{background-repeat:no-repeat;background-size:cover;overflow:none;position: relative;height:100%}
.service-coupon .content .inside .coupon-logo{position: absolute; top: 15px; right: 15px;height:120px;width:120px}
.service-coupon .content .inside .coupon-logo img{width:100%}
.service-coupon .content .inside .text1{position: absolute; font-size: 14px; line-height: 16px; color: #fff; top: 22px; left: 20px; width: 100px;}
.service-coupon .content .inside .text2{position: absolute; font-size: 14px; line-height: 18px; color: #212121; font-weight: 500; top: 66px; right: 23px; width: 235px; text-align: right;}
.service-coupon .content .inside .text3{position: absolute; font-size: 42px; line-height: 42px; font-weight: 500; font-family: "Rubik", sans-serif; color: #fb363f; top: 112px; right: 23px; width: 255px; text-align: right;}
.service-coupon .content .inside .text4{position: absolute; font-size: 23px; line-height: 30px; font-weight: 500; font-family: "Rubik", sans-serif; color: #454545; top: 158px; right: 23px; width: 300px; text-align: right;}
.service-coupon .content .inside .text5{position: absolute; font-size: 20px; line-height: 24px; font-weight: 300; color: #454545; bottom: 19px; right: 22px; width: 190px; text-align: right;}
.service-coupon .content .inside .print-coupon{position: absolute; bottom: 19px; left: 29px; color: #a6a6a6; font-size: 14px; line-height: 18px;}
.service-coupon .content .inside .print-coupon a{color:#a6a6a6}
.service-coupon .content .inside .print-coupon .print-icon{margin-right:7px}


	/*About*/

.word-aboutus{padding-top: 100px}
.word-aboutus h2{padding:0 0 77px 0;text-transform:uppercase;text-align: center;font-size:38px;font-weight: normal;color:#454545;text-transform: uppercase;}
.word-aboutus h2:after{content: ''; width: 75px; height: 3px; background: #5ebb60; display: block; position: absolute; left: 50%; margin-left: -37px; margin-top: 40px;}
.word-aboutus p{text-align: center;font-size:18px;line-height:24px}


.why-choose-us{width:100%;background-size: cover;background-repeat:no-repeat;overflow:none;height: auto;padding-bottom:60px}
.why-choose-us h2{color:#454545;padding:90px 0 77px 0;font-size:38px;text-transform:uppercase;line-height:40px;text-align: center;}
.why-choose-us h2:after{content: ''; width: 75px; height: 3px; background: #5ebb60; display: block; position: absolute; left: 50%; margin-left: -37px; margin-top: 40px;}
.why-choose-us .type-sub{text-align: center;font-size:18px;color:#fff;line-height:24px}
.why-choose-us .type-content{width:100%;margin-top:30px}
.why-choose-us .type-content .content-icon{height:50px;width:50px;display: inline-block;position:absolute;}
.why-choose-us .type-content .content-icon img{width: 100%}
.why-choose-us .type-content .type-desc{margin-left:75px;}
.why-choose-us .type-content .type-desc a{font-size:23px;line-height:25px;color:#454545;}
.why-choose-us .type-content .type-desc a:hover{color: #5ebb60;}
.why-choose-us .type-content .type-desc p{font-size:16px;color:#454545;line-height:23px;padding-top:17px}
.why-choose-us .first-fade{-webkit-animation-delay:2.3s;-moz-animation-delay:2.3s;animation-delay:2.3s}
.why-choose-us .last-fade{-webkit-animation-delay:2.3s;-moz-animation-delay:2.3s;animation-delay:2.3s}
.why-choose-us .animate{-webkit-animation-duration:1s;animation-duration:1s;animation-fill-mode:both;-webkit-animation-fill-mode:both;}
@keyframes fadeLeft{
	from{
		opacity: 0;
		-webkit-transform:translate3d(-100%,0,0);
		transform: translate3d(-100%,0,0);
	}

	to{
		opacity: 1;
		-webkit-transform:none;
		transform: none;
	}
}
.fadeLeft{-webkit-animation-name:fadeLeft;animation-name: fadeLeft;}


@keyframes fadeRight{
	from{
		opacity: 0;
		-webkit-transform:translate3d(100%,0,0);
		transform: translate3d(100%,0,0);
	}

	to{
		opacity: 1;
		-webkit-transform:none;
		transform: none;
	}
}
.fadeRight{-webkit-animation-name:fadeRight;animation-name: fadeRight;}

.all-counter{background-image:url(https://smartdata.tonytemplates.com/laundry/wp-content/uploads/2011/05/parallax-img-02.jpg?id=2280);background-size:cover;background-repeat:no-repeat;overflow:none;width:100%;padding:70px 0px}
.all-counter .content{width:100%;text-align: -webkit-center}
.all-counter .content .coun-icon{font-size: 120px; line-height: 120px; text-align: center; color: #5ebb60; margin-bottom: 33px; -moz-transition: all 0.4s ease; -o-transition: all 0.4s ease; -webkit-transition: all 0.4s ease; transition: all 0.4s ease;}
.all-counter .content .title{font-size: 48px; line-height: 53px; color: #fff; text-align: center; font-family: "Rubik", sans-serif; font-weight: 500; text-transform: uppercase; -moz-transition: all 0.25s ease; -o-transition: all 0.25s ease; -webkit-transition: all 0.25s ease; transition: all 0.25s ease;}
.all-counter .content .description{font-size: 20px; line-height: 25px; color: #fff; text-align: center; font-family: "Rubik", sans-serif; margin-top: 9px; -moz-transition: all 0.4s ease; -o-transition: all 0.4s ease; -webkit-transition: all 0.4s ease; transition: all 0.4s ease;}

.all-counter .content:hover .title{color:#5ebb60}
.all-counter .content:hover .description{margin-top: 29px;margin-bottom: -20px;}
.all-counter .content:hover .coun-icon{color:#fff}

	/*prices*/

.affordable-price{padding:70px 0px}
.affordable-price h2{padding:0 0 77px 0;text-transform:uppercase;text-align: center;font-size:38px;font-weight: normal;color:#454545;text-transform:uppercase;}
.affordable-price h2:after{content: ''; width: 75px; height: 3px; background: #5ebb60; display: block; position: absolute; left: 50%; margin-left: -37px; margin-top: 40px;}
.affordable-price .affor-content{width:100%;text-align: center;}
.affordable-price .affor-content .affor-icon .item-icon{font-size: 200px; line-height: 1em; margin-bottom: 40px; display: inline-block; color: #5e5e5e; margin-bottom: 48px; transition: all 0.3s linear; -ms-transition: all 0.3s linear; -webkit-transition: all 0.3s linear; -o-transition: all 0.3s linear;}
.affordable-price .affor-content h3{font-weight: 500; text-align: center;color:#454545}
.affordable-price .affor-content h3 span{color:#5ebb60}
.affordable-price .affor-content p{padding-top:2px;color:#454545 }
.affordable-price .affor-content:hover .item-icon{color:#5ebb60}